<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 65.8 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=db48bc03e30cfaa853ce5f406740435f635e0920912cc99421e43f555901f0a8
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/ef/95/ac/c232f83b415900c26553c64266e1a2b2863bc63e7a5d606c7e
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [7]:
unique_launch = cur.execute("SELECT DISTINCT(Launch_Site) from SPACEXTBL")
unique_launch.fetchall()

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'KSC'

In [17]:
KSC_records = cur.execute("SELECT * from SPACEXTBL where Launch_Site = 'KSC LC-39A' ")
KSC_records.fetchall()

[('19-02-2017',
  '14:39:00',
  'F9 FT B1031.1',
  'KSC LC-39A',
  'SpaceX CRS-10',
  2490,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('16-03-2017',
  '06:00:00',
  'F9 FT B1030',
  'KSC LC-39A',
  'EchoStar 23',
  5600,
  'GTO',
  'EchoStar',
  'Success',
  'No attempt'),
 ('30-03-2017',
  '22:27:00',
  'F9 FT  B1021.2',
  'KSC LC-39A',
  'SES-10',
  5300,
  'GTO',
  'SES',
  'Success',
  'Success (drone ship)'),
 ('01-05-2017',
  '11:15:00',
  'F9 FT B1032.1',
  'KSC LC-39A',
  'NROL-76',
  5300,
  'LEO',
  'NRO',
  'Success',
  'Success (ground pad)'),
 ('15-05-2017',
  '23:21:00',
  'F9 FT B1034',
  'KSC LC-39A',
  'Inmarsat-5 F4',
  6070,
  'GTO',
  'Inmarsat',
  'Success',
  'No attempt'),
 ('03-06-2017',
  '21:07:00',
  'F9 FT B1035.1',
  'KSC LC-39A',
  'SpaceX CRS-11',
  2708,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('23-06-2017',
  '19:10:00',
  'F9 FT  B1029.2',
  'KSC LC-39A',
  'BulgariaSat-1',
  3669,
  'GTO',
  'Bulsatcom',
  'Success',
  'Success (drone ship)'),
 ('05-07-2017',
  '23:38:00',
  'F9 FT B1037',
  'KSC LC-39A',
  'Intelsat 35e',
  6761,
  'GTO',
  'Intelsat',
  'Success',
  'No attempt'),
 ('14-08-2017',
  '16:31:00',
  'F9 B4 B1039.1',
  'KSC LC-39A',
  'SpaceX CRS-12',
  3310,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('07-09-2017',
  '14:00:00',
  'F9 B4 B1040.1',
  'KSC LC-39A',
  'Boeing X-37B OTV-5',
  4990,
  'LEO',
  'U.S. Air Force',
  'Success',
  'Success (ground pad)'),
 ('11-10-2017',
  '22:53:00',
  'F9 FT  B1031.2',
  'KSC LC-39A',
  'SES-11 / EchoStar 105',
  5200,
  'GTO',
  'SES EchoStar',
  'Success',
  'Success (drone ship)'),
 ('30-10-2017',
  '19:34:00',
  'F9 B4 B1042.1',
  'KSC LC-39A',
  'Koreasat 5A',
  3500,
  'GTO',
  'KT Corporation',
  'Success',
  'Success (drone ship)'),
 ('11-05-2018',
  '20:14:00',
  'F9 B5  B1046.1',
  'KSC LC-39A',
  'Bangabandhu-1',
  3600,
  'GTO',
  'Thales-Alenia/BTRC',
  'Success',
  'Success (drone ship)'),
 ('15-11-2018',
  '20:46:00',
  'F9 B5 B1047.2',
  'KSC LC-39A',
  'Es hail 2',
  5300,
  'GTO',
  'Es hailSat',
  'Success',
  'Success'),
 ('02-03-2019',
  '07:49:00',
  'F9 B5B1051.1',
  'KSC LC-39A',
  'Crew Dragon Demo-1, SpaceX CRS-17 ',
  12055,
  'LEO (ISS)',
  'NASA (CCD) ',
  'Success',
  'Success'),
 ('19-01-2020',
  '15:30:00',
  'F9 B5 B1046.4',
  'KSC LC-39A',
  'Crew Dragon in-flight abort test, Starlink 3 v1.0 ',
  12050,
  'Sub-orbital',
  'NASA (CTS)',
  'Success',
  'No attempt'),
 ('18-03-2020',
  '12:16:00',
  'F9 B5 B1048.5',
  'KSC LC-39A',
  'Starlink 5 v1.0, Starlink 6 v1.0 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Failure'),
 ('22-04-2020',
  '19:30:00',
  'F9 B5 B1051.4',
  'KSC LC-39A',
  'Starlink 6 v1.0, Crew Dragon Demo-2 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('30-05-2020',
  '19:22:00',
  'F9 B5B1058.1 ',
  'KSC LC-39A',
  'Crew Dragon Demo-2, Starlink 7 v1.0 ',
  12530,
  'LEO (ISS)',
  'NASA (CCDev)',
  'Success',
  'Success'),
 ('07-08-2020',
  '05:12:00',
  'F9 B5 B1051.5',
  'KSC LC-39A',
  'Starlink 9 v1.0, SXRS-1, Starlink 10 v1.0 ',
  14932,
  'LEO',
  'SpaceX, Spaceflight Industries (BlackSky), Planet Labs',
  'Success',
  'Success'),
 ('03-09-2020',
  '12:46:14',
  'F9 B5 B1060.2 ',
  'KSC LC-39A',
  'Starlink 11 v1.0, Starlink 12 v1.0 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('06-10-2020',
  '11:29:34',
  'F9 B5 B1058.3 ',
  'KSC LC-39A',
  'Starlink 12 v1.0, Starlink 13 v1.0 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('18-10-2020',
  '12:25:57',
  'F9 B5 B1051.6',
  'KSC LC-39A',
  'Starlink 13 v1.0, Starlink 14 v1.0 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('16-11-2020',
  '00:27:00',
  'F9 B5B1061.1 ',
  'KSC LC-39A',
  'Crew-1, Sentinel-6 Michael Freilich ',
  12500,
  'LEO (ISS)',
  'NASA (CCP)',
  'Success',
  'Success'),
 ('06-12-2020',
  '16:17:08',
  'F9 B5 B1058.4 ',
  'KSC LC-39A',
  'SpaceX CRS-21',
  2972,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [29]:
payload_mass = cur.execute("SELECT sum(payload_mass__kg_) from SPACEXTBL group by Customer")
payload_mass.fetchall()

[(7759,),
 (8963,),
 (3669,),
 (3000,),
 (3130,),
 (4200,),
 (5600,),
 (5300,),
 (2150,),
 (6092,),
 (6070,),
 (6761,),
 (67200,),
 (6460,),
 (3500,),
 (500,),
 (12055,),
 (12530,),
 (12500,),
 (525,),
 (0,),
 (45596,),
 (2617,),
 (12050,),
 (362,),
 (553,),
 (1192,),
 (5300,),
 (475,),
 (5000,),
 (3350,),
 (4850,),
 (5500,),
 (23355,),
 (5200,),
 (9296,),
 (6956,),
 (185220,),
 (31010,),
 (15440,),
 (14932,),
 (6500,),
 (4000,),
 (14135,),
 (5800,),
 (6425,),
 (3600,),
 (4707,),
 (4990,),
 (570,),
 (4311,),
 (4400,),
 (4311,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
average_payload_mass = cur.execute("SELECT avg(payload_mass__kg_) from SPACEXTBL where  Booster_Version = F9 v1.1")
average_payload_mas.fetchall()

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.

*Hint:Use min function*

In [ ]:
average_payload_mass = cur.execute("SELECT min(payload_mass__kg_) from SPACEXTBL where  Booster_Version = F9 v1.1")
average_payload_mas.fetchall()

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

### Task 7

##### List the total number of successful and failure mission outcomes

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

### Task 9

##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2017' for year.**

### Task 10

##### Rank the  count of  successful landing_outcomes between the date  04-06-2010 and 20-03-2017 in descending order.

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>